<%- include('../layout/header-nav.ejs') %>

<main>
    <h2>Contact</h2>
    <div class="item h3-sizer spacer">
        <h3>Phone/WhatsApp: <a class="btn">+1-978-857-3420</a></h3>
        <h3>Email: <a class="btn" href="mailto:michaelcarroll1999@gmail.com">michaelcarroll1999@gmail.com</a></h3>
        <h3>GitHub: <a class="btn" href="https://github.com/MichaelC1999">User- MichaelC1999</a></h3>
        <h3>Website: <a class="btn" href="https://michael-carroll.herokuapp.com/">You're on it</a></h3>
    </div>
</main>

<%- include('../layout/foot.ejs') %>