<%- include('../layout/header-nav.ejs') %>

<main>
    <h2>My Contact Info</h2>
    <div class="item mobile">
        <h3>Phone/WhatsApp: </h3>
        <h3 style="background-color: #225824; color: #CCDDB7;">+1-978-857-3420</h3>
        <h3>Email: <a class="btn" href="mailto:michaelcarroll1999@gmail.com">michaelcarroll1999@gmail.com</a></h3>
        <h3>GitHub: <a class="btn" href="https://github.com/MichaelC1999">User- MichaelC1999</a></h3>
        <h3>Website: <a class="btn" href="https://michael-carroll.herokuapp.com/">You're on it</a></h3>
    </div>
</main>

<%- include('../layout/foot.ejs') %>