<%- include('../layout/header-nav.ejs') %>

<main>
    <h2>My Experience</h2>
    
    <div class="item">
        <p>
            As I am currently transitioning into web development, my professional experience with developing software 
            is limited. My experience teaching English did give me various soft skills 
            that would prove useful in this field. During the pandemic, I have been dedicating 
            myself to writing web applications at a professional level.
        </p>
    </div>
    
    <div class="group">
        
        <div class="item">
            <h3>English teacher at Althus English</h3>
            <h4>JAN 2020 - APR 2020</h4>
            <p>
                Taught English in Brazil to professional students. Typically, the students were beginners or 
                learning intermediate level business English. One student who went on a business trip to England 
                mentioned how she could understand conversations much better after lessons with me.
            </p>
        </div>
        <div class="item">
            <h3>Independent English teacher/tutor</h3>
            <h4>NOV 2018 - JUN 2019</h4>
            <p style="font-size: 20px;">
                Facilitated English learning for students at a variety of different levels in Colombia/Peru. 
                I created my own assignments, lessons, and curriculum for students to improve their English. 
                My main focus was to improve their conversational skills. 
            </p>
        </div>
        
        <div class="item">
            <h3>IT Setup Volunteer at Chelmsford Public Schools</h3>
            <h4>Summers 2014-2016</h4>
            <p style="font-size: 20px;">
                Organized and prepared the computer systems for the local public schools. 
                This was done each summer, totalling more than 300 hours each year. Tasks involved installing updates,
                downloading new software, verifying the security features of the system, and general hardware setup.
            </p>
        </div>
        
    </div>

</main>

<%- include('../layout/foot.ejs') %>