<%- include('../layout/header-nav.ejs') %>

<main>
    <div class="group">
        
        <div class="item">
            <img src="https://i.imgur.com/EDIfdCi.jpg" alt="Michael Carroll image" class="image">
        </div>
        
        <div class="group" style="flex: 1; flex-direction: column;">
            <p class="item" style="font-size: 21px; text-align: justify;">
                Welcome! My name is <b>Michael Carroll</b>, and I am a Full Stack developer. 
                I specialize in React for front-end applications and Node.js for back-end server code. 
                Although I am just now starting to professionally develop programs, I am happy with the quality 
                of my applications. Check out my <a style="color: white;" href="/projects">projects</a> to see my work so far.
            </p>
            <div class="item">
                <h3>Here is one of my feature projects</h3>
                <img src="https://i.imgur.com/H7jLgYo.png" alt="Burger Stacker" style="width: 60%; margin: 12px;">
                <h3>React Burger Stacker</h3>
                <a href="https://burger-stacker.herokuapp.com/" style="margin-top: 10px;" class="btn">Try it out!</a>
            </div>
        </div>
    </div>

</main>

<%- include('../layout/foot.ejs') %>