<%- include('../layout/header-nav.ejs') %>

<main>
    <div class="group">
        
        <div class="item">
            <img src="https://i.imgur.com/EDIfdCi.jpg" alt="Michael Carroll image" class="image">
        </div>
        
        <div class="item">
            <h2>Michael Carroll</h2>
            <p style="text-align: left;">
                Since the COVID pandemic began to flip everything upside-down, 
                I have spent my time in quarantine focusing on becoming a well-rounded programmer. 
                My main stack includes React, Node.JS/Express, and MongoDB. 
                Although I have a solid understanding of Frontend development, I particularly enjoy building REST API's 
                and doing backend projects. I feel very comfortable troubleshooting code and figuring out why something does not 
                work the way that it should.
            </p>
        </div>
    </div>

</main>

<%- include('../layout/foot.ejs') %>