<%- include('../layout/header-nav.ejs') %>

<main>
    <h2 style="text-align: center; font-size: 40px; margin-top: 0; margin-bottom: 10px;">Skills</h2>
    
    <!-- Make a scrollable box that stays in the same spot with transparent background
            has icons of stack at first, then things i want to add to the stack
        and then quick words on soft skills -->


    <div class="group">
        
        <div class="item">
            <h3>My stack</h3>
            <img src="https://i.imgur.com/3WimiF1.png">
        </div>
        <div class="item">
            <h3>Skills that I am working on</h3>
                <ul style="text-align: left;">
                    <li style="margin-bottom: 7px"><b>Python</b> - Looking to further my backend skillset with Python, mainly because of its simple syntax and powerful data analytics capabilities.</li>
                    <li style="margin-bottom: 7px"><b>Sequelize Databases</b> - Although I prefer non-sequel databases, I want to understand the mechanics of SQL in the event I encounter a problem that would be better solved by relational data structures.</li>
                    <li><b>React Native</b> - As mobile devices have become joined to our hands in the last 10 years alone, I hope to contribute to technologies that are used on the go.</li>
                </ul>
        </div>
        
    </div>

</main>

<%- include('../layout/foot.ejs') %>