<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://cdnjs.cloudflare.com ">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title><%= pageTitle %></title>
</head>

<body>
    <div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle" style="margin-left: 1rem;" class="btn">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="" href="/">Profile</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/projects">Projects</a>
            </li>

            <li class="main-header__item">
                <a class="" href="/exp">Experience</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/skills">Skills</a>
            </li>         
        </ul>
        
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="" href="/">Profile</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="" href="/projects">Projects</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="" href="/exp">Experience</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="" href="/skills">Skills</a>
                </li>
            </ul>
</nav>

    